name: Run Unit test
on:
  push:
    branches: 
    - main  

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '10.x'
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Run unit test
      run: dotnet test